@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  outline: none;
}

body {
  background-color: rgba(0, 0, 0);
}
h1,
h4,
p,
a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: #fff;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}
.skill-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 80px;
  justify-content: space-between;
}

.skill-category h3 {
  color: green;
}
.skill-category strong {
  color: red;
  margin-left: 10px;
}
.skill {
  text-align: center;
  color: white;
}
.skill-category {
  box-shadow: 0 0 0 0 3px rgba(255, 255, 254, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  margin: 10px 0;
  border-radius: 5px;
  padding: 0 10px;
}
